
<div class="text-center">
    <h1 class="display-4">Edit/Create a New Profile.</h1>
    <h4> remember... one of our quirks is that we love simple web design, because it's easier on our eyes and allows us to focus on the real stuff.</h4>
    <br />
    <form style="text-align:center" method="POST"  enctype="multipart/form-data">
        <input class="form-text text-muted" type="textarea" id="profileDescription" name="ProfileDescription" placeholder="Profile Description">
        <input type="file" id="profilePostImage" name="ProfilePostImage" accept="image/*"/>
        <br />
        <br />
        <input style="text-align:center" class="btn btn-light" onclick="/Home/Profile"type="submit" value="Submit" />
    </form>
</div>
