@model List<artPost.Models.user>

@{
    ViewData["Title"] = "Home Page";
}

<h1> YOOOO WHAT IS UP MY PEOPLE OF AFRICA!</h1>

@foreach(var item in Model)
{
    <form method="POST" enctype="multipart/form-data">
        <input type="hidden" id="userNameLink" name="userNameLink" value=@item.userName>
        <input onclick="/Home/viewOtherProfile" type="submit" value=@item.userName />
    </form>
}
