@model List<artPost.Models.user>

@{
    ViewData["Title"] = "Home Page";


}

<h1> YOOOO WHAT IS UP MY PEOPLE OF AFRICA!</h1>


@foreach(var item in Model)
//for(int x=0; x<N; x++)
//      Model[x] => then find the posts
//for each random N indexes in the list
//pick a random post from the list of posts (if there are any)
//should be O(N) where N is the number of indexes you want to select

{
    <a href="/Home/viewOtherProfile?value=@item.userName">@item.userName</a>
}
